a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

}

#ui-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#scanner-frame, #scan-button, #re-scan-btn, .circle-btn {
    pointer-events: auto;
}

#scanner-frame {
    position: relative;
    width: 280px;
    height: 280px;
    border: 4px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    display: none; 
    background: black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 1000;
}

#guide-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    opacity: 0.5;
}

#re-scan-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    border: none;
    display: none !important;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

#re-scan-btn img { width: 25px; height: auto; }

#action-bar {
    position: absolute;
    bottom: 40px;
    display: none !important; 
    gap: 20px;
    background: rgba(255,255,255,0.2);
    padding: 10px 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-btn img { width: 30px; height: auto; }

#scan-button {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    background: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}

#scan-button img { width: 25px; margin-right: 10px; }

#camera-preview, #camera-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#stats-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: white;
    z-index: 2000;
    display: none;
    z-index: 9999;   /* MUY IMPORTANTE */
    overflow-y: auto; /* Para que no se corte */
    padding: 30px;
    box-sizing: border-box;
}

#stats-content {
    max-width: 600px;
    margin: 0 auto;
}

#stats-panel button {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.stats-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #0f9d58;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.match-card {
    margin-top: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
}
