a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* El fondo está atrás */
}

#ui-container {
    position: relative;
    z-index: 10; /* La interfaz está adelante */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Deja que el usuario "toque" el fondo para rotarlo */
}

#scanner-frame, #scan-button {
    pointer-events: auto; /* El botón y el marco sí reciben clics */
}

/* Estilo para el video dentro del cuadrito */
#camera-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}