a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#ui-container {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; /
}

#scanner-frame, #scan-button {
    pointer-events: auto; /
}

#camera-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}